*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--clr-bg: #13181e;
	--clr-accent: #316ec9;
	--clr-card: #252c36;
	--clr-txt: #e5e5e5;
	--ff: Rubik, sans-serif;
}

::-webkit-scrollbar {
	display: none;
	width: 0.2rem;
	height: 0.2rem;
}

::-webkit-scrollbar-track {
	background-color: var(--clr-bg);
}

::-webkit-scrollbar-thumb {
	background: var(--clr-accent);
	border-radius: 100vh;
}

body {
	background: var(--clr-bg);
	height: calc(100 * var(--vh));
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--clr-txt);
	margin-top: auto;
	font-family: var(--ff);
}

.card {
	height: max-content;
	width: min(100%, 30rem);
	background-color: var(--clr-card);
	padding: 2rem;
	text-align: center;
	border-radius: 5px;
}

.card > * + * {
	margin-top: 2rem;
}

.title {
	text-transform: capitalize;
}

.generated-text {
	position: relative;
	height: 3rem;
	width: 100%;
	font-size: 1.5rem;
	grid-template-areas: "text button";
	background-color: var(--clr-bg);
	border-radius: 5px;
	/* overflow: hidden; */
}

.text-box {
	height: 3rem;
	width: calc(100% - 3rem);
	display: flex;
	align-items: center;
	text-align: left;
	box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.text-box span {
	display: inline-block;
	width: 100%;
	/* height: 100%; */
	overflow-x: scroll;
	/* margin-top: 1rem; */
	white-space: nowrap;
	padding-inline: 1rem;
	/* scrollbar-height:none; */
	scrollbar-width: none;
}

button {
	height: 3rem;
	width: 3rem;
	position: absolute;
}

.copy-button {
	top: 0;
	right: 0;
	z-index: 100;
	background: no-repeat center / 40% url(../assets/copy-icon.svg)
		var(--clr-accent);
	border: none;
	border-radius: 0 5px 5px 0;
	/* border-left: solid 1px var(--clr-bg); */
	cursor: pointer;
	/* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); */
}

.randomize-button {
	position: absolute;
	top: 0;
	right: 3rem;
	z-index: 100;
	background: no-repeat center / 40% url(../assets/random-icon.svg)
		var(--clr-txt);
	border: none;
	/* border-right: solid 1px var(--clr-bg); */
	cursor: pointer;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	/* box-shadow: -5px 0px 5px 0 var(--clr-accent); */
}

.tooltip {
	position: absolute;
	/* width: 6rem; */
	background: var(--clr-bg);
	padding-block: 0.5rem;
	color: var(--clr-txt);
	/* right: -4.5rem; */
	bottom: 120%;
	border-radius: 5px;
	/* transform: translateX(-50%); */
	font-size: 0.8rem;
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

.randomize-tooltip {
	width: 6rem;
	right: 1.5rem;
	bottom: 120%;
}
.copy-tooltip {
	width: 6rem;
	right: -1.5rem;
	bottom: 120%;
}

.visible {
	opacity: 0.8;
	transition: none;
}

.tooltip::after {
	/* display: none; */
	position: absolute;
	content: "";
	height: 0;
	width: 0;
	border: solid 7px transparent;
	border-top: solid 7px var(--clr-bg);
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

button:hover {
	filter: brightness(1.2);
}

button:active {
	filter: brightness(0.9);
}

button:hover::before {
	filter: brightness(1);
}
button:hover::after {
	filter: brightness(1);
}
.slider-container {
	position: relative;
	width: 100%;
}

.range-slider {
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 0.3rem;
	border-radius: 100vh;
	background: var(--clr-bg);
	outline: none;
	cursor: pointer;
}

.range-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	background: var(--clr-accent);
	border-radius: 50%;
	cursor: grab;
}

label {
	position: absolute;
	top: 5rem;
	opacity: 0;
	pointer-events: none;
}

.range-slider::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	background: var(--clr-accent);
	border-radius: 50%;
	outline: none;
}

.value-hover {
	align-self: center;
	visibility: hidden;
	position: absolute;
	background-color: var(--clr-bg);
	width: 2rem;
	padding: 0.4rem;
	border-radius: 5px;
	bottom: -3rem;
	left: 0rem;
	transform: translateX(-5px);
	opacity: 0.8;
}

.value-hover::before {
	position: absolute;
	content: "";
	height: 0;
	width: 0;
	border: solid 7px transparent;
	border-bottom: solid 7px var(--clr-bg);
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.range-slider:hover + .value-hover {
	visibility: visible;
}

@media screen and (max-width: 768px) {
	.copy-button {
		background-size: 40%;
	}
	.randomize-button {
		background-size: 40%;
	}
}
